// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.gsc-input {
    width: 300px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.background-color{
    background-color: #e9ecef;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-color: #343a40 !important;
    color: white;
    width: 100%;
  }

.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
}
.col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  margin: 0 auto;
}
a {
    color: rgb(138, 60, 189);
}
a:hover {
    color: rgb(180, 115, 223);
}

.container > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-formatting{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-formatting p{
    padding: 0;
    margin: 0;
  }
  
  .social a{
    display: block;
  }

  .social {
    display: inline-flex;
  }
  
  .social .social-icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 1px;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .social .tooltip {
    position: absolute;
    top: 0;
    font-size: 12px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .social .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .social .social-icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .social .social-icon:hover span,
  .social .social-icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .social .facebook:hover,
  .social .facebook:hover .tooltip,
  .social .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  
  .social .twitter:hover,
  .social .twitter:hover .tooltip,
  .social .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  
  .social .instagram:hover,
  .social .instagram:hover .tooltip,
  .social .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  
  .social .youtube:hover,
  .social .youtube:hover .tooltip,
  .social .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
  }

  .download_button{
    margin: 5px 0;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #8a3cbd;
    background-color: #f8fafc;
    border: 2px solid #8a3cbd;
    box-shadow: 0px 0px 0px 0px #8a3cbd;
    border: 2px solid #8a3cbd;
    border-radius: 7px;
    transition: 0.3s;
  }
  
  .download_button:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px #8a3cbd;
  }
  
  
  .manuals_download_list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }